# Cognito-defined auth parameters
VITE_CLIENT_ID=some-oidc-client-id
VITE_CLIENT_SECRET=some-oidc-client-secret
VITE_AUTH_URL=https://{COGNITO_NAME}.auth.us-east-1.amazoncognito.com
# APIGW base URL to proxy transaction API requests
PROXY_URL=https://{APIGW_ID}.execute-api.us-east-1.amazonaws.com/{STAGE}
